beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
html5lib==1.1
idna==3.10
pip==24.0
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing-extensions==4.13.2
urllib3==2.4.0
uv==0.6.14
uvloop==0.21.0
webencodings==0.5.1
